<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ base }}/favicon.svg" type="image/svg+xml">

		<title>{{ course.full_name | escape }}</title>

		<link rel="stylesheet" href="{{ base }}/stylesheet/style.css">
		<link rel="stylesheet" href="{{ base }}/stylesheet/course-details.css">
	</head>

	<body>
		<ul class="breadcrumb">
			<li><a href="{{ base }}/info/">Info</a></li>
			<li><a href="{{ base }}/info/course.html">Courses</a></li>
			<li><a href="{{ base }}/info/course/{{ course.id }}.html">{{ course.full_name | escape }}</a></li>
		</ul>

		<h1 id="title">
			{{- course.sub_name | escape }}
			<span class="level-{{ course.level }}">{{ course.name | escape }}</span>
		</h1>

		<dl class="course-info">
			<dt>ID</dt>
			<dd id="id">{{ course.id }}</dd>

			<dt>Version</dt>
			<dd id="version">{{ course.sub_name | escape }}</dd>

			<dt>Name</dt>
			<dd id="name" class="level-{{ course.level }}">{{ course.name | escape }}</dd>

			<dt>Reward</dt>
			<dd id="reward"><span class="coin">{{ course.reward }}</span></dd>

			<dt>Gauge</dt>
			<dd id="gauge">{{ course.gauge }}</dd>
		</dl>

		<table id="charts-table">
			{% for chart in course.charts %}
				<tr>
					<td class="music-cell">
						<a href="{{ base }}/info/music/{{ chart.music.id }}.html" class="music{% if chart.music.chaos %} chaos{% endif %}">
							{{- chart.music.name | escape -}}
						</a>
					</td>
					<td class="chart-cell">
						<div class="chart {{ chart.difficulty | replace: "_", "-" }}">
							<div class="level">
								<a href="{{ base }}/viewer/?id={{ chart.music.id }}&chart={{ chart.difficulty_id }}" target="_blank">
									{{- chart.level -}}
								</a>
							</div>
							<div class="difficulty">
								<a href="{{ base }}/viewer/?id={{ chart.music.id }}&chart={{ chart.difficulty_id }}" target="_blank">
									{{- chart.difficulty | replace: "_plus", "+" -}}
								</a>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
