<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Music</title>

		<link rel="stylesheet" href="/stylesheet/style.css">
		{% for stylesheet in stylesheets %}
			<style>
				{{ stylesheet }}
			</style>
		{% endfor %}
		{% for script in scripts %}
			<script>
				(() => { {{ script }} })();
			</script>
		{% endfor %}
	</head>

	<body>
		<table id="music-table">
			<colgroup>
				<col class="col-id">
				<col class="col-preview">
				<col class="col-name">
				<col class="col-artist">
				<col class="col-charts">
			</colgroup>

			<thead>
				<tr>
					<th id="id">ID</th>
					<th><div id="global-preview-button"></div></th>
					<th id="name">Name</th>
					<th id="artist">Artist</th>
					<th>Charts</th>
				</tr>
			</thead>

			<tbody>
				{% for music in music_list %}
					{% capture data_attributes %}
						{% for keyword in music.keywords %}
							data-keyword-{{ forloop.index }}="{{ keyword | escape }}"
						{% endfor %}
						data-levels="{{ music.charts | map: "level" | join: " " }}"
						{% if music.chaos %}data-chaos="1"{% endif %}
						{% if music.boost %}data-boost="1"{% endif %}
						{% if music.inst %}data-inst="1"{% endif %}
						{% if music.vocal %}data-vocal="1"{% endif %}
						{% if music.secret %}data-secret="1"{% endif %}
					{% endcapture %}
					{% capture music_class %}{% if music.chaos %} chaos{% endif %}{% if music.boost %} boost{% endif %}{% endcapture %}
					<tr {{ data_attributes }}>
						<th>{{ music.id }}</th>
						<td>
							<div data-url="{{ music.preview }}" class="preview-button" style="--progress: 0deg; --download: 0deg;">
							</div>
						</td>
						<td><a href="/info/music/{{ music.id }}.html" class="name{{ music_class }}">{{ music.name | escape }}</span></td>
						<td><span class="artist{{ music_class }}">{{ music.artist | escape }}</span></td>
						<td class="chart-cell">
							{% for chart in music.charts %}
								<div class="chart {{ chart.difficulty | replace: "_", "-" }}">
									<div class="level">{{ chart.level }}</div>
									<div class="difficulty">{{ chart.difficulty | replace: "_plus", "+" }}</div>
								</div>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="filter-wrapper">
			<div class="filter hidden" id="filter">
				<div class="filter-section">
					<div class="filter-section-title">Keyword</div>
					<input type="text" id="filter-keyword" class="filter-input" placeholder="Keyword:">
				</div>

				<div class="filter-section">
					<div class="filter-section-title">Category</div>
					<input type="checkbox" id="filter-secret" class="filter-checkbox">
					<label for="filter-secret" class="filter-label">Secret</label>
					<input type="checkbox" id="filter-chaos" class="filter-checkbox">
					<label for="filter-chaos" class="filter-label">Chaos</label>
					<input type="checkbox" id="filter-inst" class="filter-checkbox">
					<label for="filter-inst" class="filter-label">Inst</label>
					<input type="checkbox" id="filter-vocal" class="filter-checkbox">
					<label for="filter-vocal" class="filter-label">Vocal</label>
					<input type="checkbox" id="filter-boost" class="filter-checkbox">
					<label for="filter-boost" class="filter-label">Boost</label>
				</div>

				<div class="filter-section">
					<div class="filter-section-title">Level</div>
					{% for level in (1..13) %}
						<input type="checkbox" id="filter-level-{{ level }}" class="filter-checkbox">
						<label for="filter-level-{{ level }}" class="filter-label">{{ level }}</label>
					{% endfor %}
				</div>
			</div>

			<div class="filter-button-wrapper">
				<button id="filter-button" class="filter-button">Filter</button>
			</div>
		</div>
	</body>
</html>
