<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ base }}/favicon.svg" type="image/svg+xml">

		<title>{{ music.name | escape }}{% if music.chaos %} CHAOS{% endif %}</title>

		<link rel="stylesheet" href="{{ base }}/stylesheet/style.css">
		<link rel="stylesheet" href="{{ base }}/stylesheet/music-details.css">
		<script src="{{ base }}/js/music-details.js" type="module"></script>
	</head>

	<body>
		<h1 id="title"{% if music.chaos %} class="chaos"{% endif %}>{{ music.name | escape }}</h1>

		{% if music.chaos_version %}
			<div class="alt-version chaos">
				<a href="{{ base }}/info/music/{{ music.chaos_version }}.html">CHAOS version</a>
			</div>
		{% elsif music.non_chaos_version %}
			<div class="alt-version">
				<a href="{{ base }}/info/music/{{ music.non_chaos_version }}.html">Non-CHAOS version</a>
			</div>
		{% endif %}

		<dl class="music-info">
			<dt>ID</dt>
			<dd id="id">{{ music.id }}</dd>

			<dt>Name</dt>
			<dd {% if music.chaos %}class="chaos"{% endif %} id="name">{{ music.name | escape }}</dd>

			<dt>Artist</dt>
			<dd {% if music.chaos %}class="chaos"{% endif %} id="artist">{{ music.artist | escape }}</dd>

			<dt>Categories</dt>
			<dd id="categories">
				{%- if music.secret -%}<span class="category secret">Secret</span>{%- endif -%}
				{%- if music.chaos -%}<span class="category chaos">Chaos</span>{%- endif -%}
				{%- if music.inst -%}<span class="category inst">Inst</span>{%- endif -%}
				{%- if music.vocal -%}<span class="category vocal">Vocal</span>{%- endif -%}
				{%- if music.boost -%}<span class="category boost">Boost</span>{%- endif -%}
			</dd>
		</dl>

		{% if music.special_stages != empty %}
			<div class="stages">
				Unlock in <a href="{{ base }}/info/special.html" class="special">SPECIAL STAGE</a>:
				{% for stage_group in music.special_stages %}
					phase {{ stage_group.phase }} step
					{% for step in stage_group.steps %}
						{{ step -}}
						{%- unless forloop.last %}, {% endunless -%}
					{%- endfor -%}
					{%- unless forloop.last %}, {% endunless -%}
				{% endfor %}
			</div>
		{% endif %}

		{% if music.unknown_stage != empty %}
			<div class="stages">
				<span class="special">UNKNOWN STAGE</span>:
				{% if music.unknown_stage.first == 4 %}
					{% assign m = music.unknown_stage | last %}
					Unlock after clearing
					<a href="{{ base }}/info/music/{{ m.id }}.html" class="music{% if m.chaos %} chaos{% endif %}">
						{{- m.name | escape -}}
					</a>
					and tapping
					<span class="secret-highlight">{{ m.name | split: "" | first }}</span>
					6 times
				{% else %}
					Unlock after clearing
					{% for m in music.unknown_stage %}
						<a href="{{ base }}/info/music/{{ m.id }}.html" class="music{% if m.chaos %} chaos{% endif %}">
							{{- m.name | escape -}}
						</a>
						{%- unless forloop.last %}, {% endunless -%}
					{%- endfor -%}
				{% endif %}
			</div>
		{% endif %}

		<table id="charts-table">
			{% for chart in music.charts %}
				<tr>
					<td class="chart-cell">
						<div class="chart {{ chart.difficulty | replace: "_", "-" }}">
							<div class="level">{{ chart.level }}</div>
							<div class="difficulty">{{ chart.difficulty | replace: "_plus", "+" }}</div>
						</div>
					</td>
					<td class="chart-unlock-cell">
						<ul>
							{% for condition in chart.unlock_conditions %}
								<li class="chart-unlock-condition">
									{{ condition }}
								</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
			{% endfor %}
		</table>

		<div data-url="{{ music.bgm }}" id="bgm">
			<div id="progress-bar" style="--progress: 0%;"></div>
			<div class="bgm-controls">
				<div id="play-button" style="--download: 0deg;"></div>
				<div id="progress-text">0:00.000 / 0:00.000</div>
				<input type="checkbox" id="loop-checkbox" class="input-checkbox">
				<label for="loop-checkbox">Loop</label>
				<input type="range" id="volume-range" class="input-range" min="0" max="1" value="1" step="0.01">
			</div>
		</div>
	</body>
</html>
