<!DOCTYPE html>
<html>
	<head>
		{% assign title = "News" %}
		{% include head %}
	</head>

	<body>
		<nav class="breadcrumb">
			<ul>
				<li><a href="{{ base }}/info/">Info</a></li>
				<li><a href="{{ base }}/info/news.html">News</a></li>
			</ul>
		</nav>

		<a href="{{ base }}/info/news-rss.xml" class="rss">RSS</a>

		{% for news in news_list %}
			<div class="news">
				<div class="news-header">
					<h2 class="news-title">{{ news.title | escape }}</h2>
					<time class="news-date" datetime="{{ news.datetime }}">{{ news.date }}</time>
				</div>
				{% for item in news.items %}
					<ul class="news-list">
						{% for item_item in item %}
							<li class="news-item">
								{%- if item_item.id -%}
									<a href="{{ base }}/info/music/{{ item_item.id }}.html" class="music{% if item_item.chaos %} chaos{% endif %}">
										{{- item_item.name | escape -}}
									</a>
									{%- if item_item.chaos %} CHAOS{% endif -%}
								{%- else -%}
									<span class="plain">{{ item_item | escape }}</span>
								{%- endif -%}
							</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</div>
		{% endfor %}
	</body>
</html>
